.feedback {
    position: relative;
    background-color: #9c9c9c;
    overflow: hidden;
    padding: 64px 0;
    &__container {
        z-index: 1;
        position: relative;
    }
    
    &__description {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 64px;
    }

    &__description-title {
        font-weight: 600;
    }

    &__description-text {
        max-width: 560px;
        display: flex;
    }

    &__content {
        padding-top: 16px;
        margin-top: 64px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        &:nth-child(n+2){
            margin-top: 32px;
        }
    }

    &__contact-title {
        color: white;
        opacity: 0.6;
        text-transform: uppercase;
    }

    &__contact-list {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    &__contact-item {
        color: rgba(255, 255, 255, 0.8);
        text-transform: none;
    }

    &__link-button {
        margin-top: 16px;
        width: fit-content;
    }
    &__contact-button{
        margin-top: 32px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__form {
        max-width: 564px;
        width: 100%;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        color: white;
        padding-bottom: 14px;
        outline: none;
        &::placeholder{
            color: rgba(255, 255, 255, 0.6);
        }
        &:nth-child(n+2){
            margin-top: 16px;
        }
    }
    &__form-button{
        margin-top: 24px;
        text-align: left;
    }
    &__privacy-text{
        margin-top: 16px;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        align-items: center;
        margin-right: -100px;
    }
    &__privacy-link{
        text-transform: none;
        width: fit-content;
        padding: 0;
        display: inline;
    }
    &__back-wrapper {
        
    }
    &__back {
        //transition: .5s;
        width: 100%;
    }
}
@include media($tablet) {
    .feedback {

        &__container {

        }
        
        &__description {

        }
    
        &__description-title {

        }
    
        &__description-text {

        }
    
        &__content {

        }
    
        &__contacts {
  
        }
    
        &__contact {

        }
    
        &__contact-title {

        }
    
        &__contact-list {

        }
    
        &__contact-item {

        }
    
        &__link-button {
     
        }
        &__contact-button{
      
        }
        &__form {

        }
    
        &__input {

        }
        &__form-button{
    
        }
        &__privacy-text{
            margin-right: 0;

        }
        &__privacy-link{

        }
        &__back-wrapper {
            bottom: 0;
            top: auto;
        }
        &__back {
     
        }
    }
}
@include media($mobile) {
    .feedback {
        padding: 64px 0;
        &__container {

        }
        
        &__description {
            margin-top: 32px;
        }
    
        &__description-title {

        }
    
        &__description-text {

        }
    
        &__content {
            padding: 0;
            border: none;
            margin-top: 32px;
            flex-direction: column-reverse;
            gap: 0;
        }
    
        &__contacts {
        }
    
        &__contact {
            display: none;
        }
    
        &__contact-title {

        }
    
        &__contact-list {

        }
    
        &__contact-item {

        }
    
        &__link-button {
            display: none;
        }
        &__contact-button{
            width: 100%;
            text-align: center;
            margin: 0        
        }
        &__form {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }
    
        &__input {

        }
        &__form-button{
    
        }
        &__privacy-text{

        }
        &__privacy-link{

        }
        &__back-wrapper {
            bottom: 130px;
        }
        &__back {
            transform: scale(3.5) rotate(25deg);
        }
    }
}
