.footer {

    background-color: #9C9C9C;
    padding: 64px 0 32px 0;
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__block-up {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__logo-wrapper {
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        transition: .3s;
        &:hover{
            opacity: 0.5;
        }
    }

    &__logo-img {
    }

    &__block-up-contacts {
        display: flex;
        width: 50%;
    }

    &__menu {
        padding-left: 32px;
        border-left: 1px solid #c4c4c4;
        width: 344px;

    }

    &__menu-title {
        color: white;
        opacity: 0.6;
        text-transform: uppercase;
    }

    &__menu-items {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__menu-item {
        opacity: 0.8;
        color: white;
        width: fit-content;
        span{
            padding: 0;
        }
        .button__text{
            text-transform: none;
            color: white;
        }
    }
    &__block-menu{
        margin-top: 40px;
        .footer__menu{
            &:nth-child(1){
                border-left: none;
                padding-left: 0;
            }
            padding-top: 16px;
        }
        display: flex;
        list-style: none;
        padding-left: 0;
        border-top: 1px solid #c4c4c4;
    }

    &__block-social {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #c4c4c4;
        margin-top: 60px;
    }

    &__menu-social {
        width: 50%;
        padding-top: 16px;
    }

    &__menu-social-buttons {
        display: flex;
        gap: 12px;
        margin-top: 16px;
    }

    &__menu-button {
        width: fit-content;
    }

    &__license {
        width: 50%;
        border-left: 1px solid #c4c4c4;
        padding-left: 32px;
        padding-top: 16px;
    }

    &__license-text {
        color: white;
        opacity: 0.6;
        max-width: 560px;
        width: 100%;
        display: flex;
    }

    &__menu-documents {
        margin-top: 10px;
        display: flex;
        gap: 16px;
    }


    &__block-politic {
        padding-top: 16px;
        border-top: 1px solid #c4c4c4;
        margin-top: 60px;
        display: flex;
    }
    &__block-politic-copirate{
        width: 50%;
    }
    &__block-politic-links {
        width: 50%;
        padding-left: 32px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__block-politic-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        .footer__menu-title{
            min-width: max-content;
        }
        .button__text{
            min-width: max-content; 
        }
    }
    &__block-logos{
        width: 50%;
        margin-left: auto;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        padding-left: 32px;
    }
    &__block-logo-wrapper{
        opacity: 0.6;
        transition: .3s;
        &:hover{
            opacity: 1;
        }
    }
}

@include media($tablet) {
    .footer {
        padding: 48px 0 64px 0;

    
        &__block-up {
            flex-direction: column;
        }
    
        &__logo-wrapper {
            width: 100%;
        }
    
        &__logo-img {
        }
    
        &__block-up-contacts {
            margin-top: 40px;
            width: 100%;
            padding-right: 16px;
        }
    
        &__menu {
            padding-left: 32px;
            border-left: 1px solid #c4c4c4;
            width: 50%;
            &:nth-child(1) {
                border-left: none;
                padding-left: 0;
            }
        }
        &__block-social{
            flex-direction: column;
        }
        &__license{
            padding-left: 0;
            border: none;
            width: 100%;
        }
        &__block-politic{
            flex-direction: column;
        }
        &__block-politic-links{
            padding: 0;
            width: 100%;
            margin-top: 32px;
        }
        &__block-logos{
            width: 100%;
            padding: 0;
        }
    }
}


@include media($mobile) {
    .footer {

        &__container {

        }

        &__block-up {

        }

        &__logo-wrapper {
            height: fit-content;
        }

        &__logo-img {
            width: 100%;
        }

        &__block-up-contacts {
            flex-direction: column;
            margin-top: 24px;
        }

        &__menu {
            padding-top: 16px;
            border-left: none;
            border-top: 1px solid #c4c4c4;
            padding-left: 0;
            width: 100%;
            margin-top: 24px;
            &.uk-open{
                .footer__menu-title{
                    &::before{
                        transform: rotate(-45deg);
                    }
                    &::after{
                        transform: rotate(45deg);
                    }
                }
            }
            &:nth-child(1){
                margin: 0;
            }
        }

        &__menu-title {

        }

        &__menu-items {

        }

        &__menu-item {
 
        }
        &__block-menu{
            margin-top: 48px;
        }
        &__block-menu{
            flex-direction: column;
            border: none;
            .footer__menu{
                &:last-child{
                    padding-bottom: 14px;
                    border-bottom: 1px solid #c4c4c4;
                }
                padding-top: 14px;
            }
            
            .footer__menu-title{
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                display: flex;
                opacity: 1;
                color: #e7e7e7;
                &::before{
                    content: "";
                    display: block;
                    right: 8px;
                    width: 2px;
                    height: 16px;
                    background-color: white;
                    position: absolute;
                    transition: .3s;
                }
                &::after{
                    content: "";
                    right: 8px;
                    display: block;
                    width: 2px;
                    height: 16px;
                    background-color: white;
                    position: absolute;
                    transform: rotate(90deg);
                    transition: .3s;
                }
            }
        }
        &__block-social {
            margin-top: 48px;
        }

        &__menu-social {
            width: 100%;
        }

        &__menu-social-buttons {
            width: 100%;
            flex-wrap: wrap;
        }

        &__menu-button {
            width: 107px;
            justify-content: center;
        }

        &__license {
            margin-top: 24px;
            border-top: 1px solid #c4c4c4;
        }

        &__license-text {

        }

        &__menu-documents {
            flex-direction: column;
            gap: 12px;
            margin-top: 16px;
        }


        &__block-politic {
            border: none;
            padding: 0;
            margin-top: 48px;
        }
        &__block-politic-copirate{
            width: 100%;

        }
        &__block-politic-links {
            margin-top: 16px;
            flex-direction: column;
            gap: 16px;
        }

        &__block-politic-link {
            width: fit-content;
        }
        &__block-logos{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__block-logo-wrapper{
            &:nth-child(3){
                order: 10;
            }
        }
    }
}