.header {
    transition: .3s !important;
    background-color: transparent;
    z-index: 1000;
    width: 100% !important;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 80px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__logo-wrapper {
        width: 200px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover{
            opacity: 0.5;
        }
    }

    &__logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__contacts {
        padding-left: 20px;
    }

    &__contact-link {
        width: fit-content;
    }

    &__contact-text {
        text-transform: uppercase;
        opacity: .5;
        color: white;
    }

    &__search-wrapper {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__search {
        svg.button__icon {
            padding: 2px;
        }
    }

    &__account {
        width: fit-content;
    }

    &__eye {
        svg.button__icon {
            padding: 2px;
        }
    }

    &__burger{
        position: relative;
        height: 12px;
        width: 17px;
        min-width: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            .header__burger-line:nth-child(1){
                transform: rotate(-45deg);
            }
            .header__burger-line:nth-child(2){
                opacity: 0;
                visibility: hidden;
            }
            .header__burger-line:nth-child(3){
                transform: rotate(45deg);
            }
        }
    }
    &__burger-line{
        transition: .3s;
        transform-origin: 50% 50%;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        opacity: 0.8;
        &:nth-child(1){
            transform: rotate(0) translateY(-5px);
        }
        &:nth-child(3){
            transform: rotate(0) translateY(5px);
        }
    }
    &__mobile{
        display: none;
    }
    &__desc{
        
    }
}

.scroll {
    .header {
        background-color: white;
        .header {
            &__block * {
                color: #535353;
                fill: #535353
            }
            &__burger-line {
                background-color: #535353;
            }
            &__contact-text {
                opacity: 1;
            }
        }
    }
}

.menu {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 5;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        list-style: none;
        padding-left: 0;
        margin: 0;
        border: 1px solid #FFFFFF1A;
        background-color: #FFFFFF1A;
        backdrop-filter: blur(40px);
        border-radius: 4px;
        transition: .3s;
        opacity: 0;
        transform: translateX(-300px) scaleX(0.5);
        overflow-x: auto;
        pointer-events: none;
        &_active {
            opacity: 1;
            transform: scale(1);
            pointer-events: all;
        }
        @include any-hover {
            .menu {
                &__link {
                    opacity: .4;
                }
            }
        }

        &::-webkit-scrollbar {
            height: 6px
        }
        
        &::-webkit-scrollbar-track {
            background: 0 0
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #FFFFFF88;
            border-radius: 25px;
        }
        
    }
    &__elem {
        flex-grow: 1;
        white-space: nowrap;
        &:first-child {
            .menu {
                &__link {
                    padding-left: 32px;
                }
            }
        }
        &:last-child {
            .menu {
                &__link {
                    padding-right: 32px;
                }
            }
        }
    }
    &__link {
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        display: block;
        text-align: center;
        padding: 12px 12px;
        transition: .3s;
        @include any-hover {
            text-decoration: none;
            opacity: 1 !important;
        }
    }
    &__button {
        width: 216px;
        background-color: #FFFFFF1A;
        border: 1px solid #FFFFFF1A;
        backdrop-filter: blur(40px);
        border-radius: 4px;
        color: white;
        position: relative;
        z-index: 2;
        &_active {
            .button {
                &__icon {
                    transform: rotate(30deg) translateY(2px);
                }
            }
        }
        @include any-hover {
            background-color: #FFFFFF33;
            border: 1px solid #FFFFFF33;
            color: white;
        }
        &:focus {
            background-color: #FFFFFF33;
            border: 1px solid #FFFFFF33;
            color: white;
        }
        .button {
            &__icon {
                padding: 1px;
            }
        }
    }
}

.scroll {
    .menu {
        &__button {
            background-color: #EDEDED;
            border-color: #EDEDED;
            color: #535353;
            @include any-hover {
                background-color: #DCDCDC;
                border-color: #DCDCDC;
                color: #262626;
            }
            &:focus {
                background-color: #DCDCDC;
                border-color: #DCDCDC;
                color: #535353;
            }
        }
        &__list {
            background-color: #EDEDED;
            border-color: #EDEDED;
            .menu {
                &__link {
                    color: #535353;
                }
            }
        }
    }
}


@include media($mobile) {
    .header {
        max-height: 72px;
        padding: 16px 0;
        &__mobile{
            display: flex;
        }
        &__desc{
            display: none;
        }
        &__logo-wrapper {
            width: 166px;
        }
        &__block {
            gap: 8px;
        }
        &__search {
            display: none;
        }
    }
}
