.tab-slider {
    padding: 64px 0;
    position: relative;
    &__container {
    }
    &__content {
        display: flex;
        gap: 56px;
        margin-top: 64px;
    }
    &__left {
        flex: 1 0 640px;
        width: 640px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: clip;
    }
    &__swiper-wrapper {
        align-items: flex-start;
        
    }
    &__slide {
        height: auto;
        padding-left: 1px;
    }
    &__pagination {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__pagination-elem {

    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 20px;
    }
    &__title {
        margin: 0;
        font-weight: 600;
        color: #535353;
    }
    &__text {
        display: block;
        margin-top: 20px;
    }
    &__button {

    }
    &__buttons {
        display: flex;
        margin-top: 16px;
    }
    &__buttons-sep {
        width: 1px;
        background-color: #EDEDED;
    }
    &__pagination {
        display: flex;
        flex-direction: column;
    }
    &__pagination-elem {
        
    }
    &__right {
        flex: 0 0 448px;
    }
    &__img {
        width: 100%;
        height: 664px;
        object-fit: cover;
    }
}

@include media($laptop) {
    .tab-slider {
        &__left {
            flex: 1 1 300px;
            width: 300px;
        }
        &__right {
            flex: 0 0 400px;
        }
        &__content {
            gap: 24px;
        }
    }
}

@include media($tablet) {
    .tab-slider {
        &__right {
            display: none;
        }
    }
}

@include media($mobile) {
    .tab-slider {
        
        &__left {
            flex: 1 1 100%;
            width: 100%;
        }
        &__content {
            margin-top: 32px;
        }
    }
}