.front-bloquote {
    padding-top: 144px;
    padding-bottom: 64px;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    &__container {
        color: white;
        z-index: 2;
        position: relative;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__content {
        display: flex;
        align-items: start;
        gap: 32px;
    }
    &__icon {
        flex-shrink: 0;
    }
    &__text {
        max-width: 820px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(20px);
        transform: scale(1.2);
    }
    &__logo {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 470px;
        height: 470px;
        color: #FFFFFF1A;
    }
}

@include media($mobile) {
    .front-bloquote {
        padding-top: 48px;
        padding-bottom: 48px;
        &__content {
            flex-direction: column;
            gap: 24px;
        }
        &__logo {
            top: 200px;
            right: -50px;
            width: 280px;
            height: 280px;
        }
    }
}